.img {
   
    max-width: 500px;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    
}

.dest-details  {
    border-radius: 15px;
    /* border: 1px solid var(--main-blue); */
    color: var(--main-blue);
    padding: 2%;
    font-size: 20px;
    text-align: center;
    background-color:cornflowerblue
}


.buttonEdit {
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}
.buttonDelete {
    background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.buttons:hover {
    color: var(--main-orange);
}
.description {
    text-align: center;
}
.details-dest {
    border-radius: 15px;
    /* border: 1px solid var(--main-blue); */
    color: var(--main-blue);
    padding: 2%;
    font-size: 20px;
    text-align: center;
}

.img-destination {
    width: 200px;
    height: 150px;
    border-radius: 50%;
}

.img-destination:hover {
    cursor: pointer;
    transform: scale(1.1);
}